<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hello world</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div>
            demo
        </div>
    </main>
    <nav>
    </nav>
</body>
</html>